---
---
<div class="toolbar">
  <span class="result-count" id="resultCount">12 Ergebnisse</span>
  <div class="toolbar-right">
    <button class="filter-btn" id="resFilterBtn" data-state="all">Auflösung</button>
    <select class="sort-select" id="sortSelect">
      <option value="relevant">Relevanz</option>
      <option value="price-asc">Preis &#x2191;</option>
      <option value="price-desc">Preis &#x2193;</option>
    </select>
  </div>
</div>
